:root {
  --orange-200: hsl(26, 100%, 55%);
  --orange-150: hsl(26, 100%, 90%);
  --orange-100: rgb(255, 237, 224);

  --blue-400: hsl(220, 13%, 13%);
  --blue-300: hsl(219, 9%, 45%);
  --blue-200: hsl(220, 14%, 75%);
  --blue-100: hsl(223, 64%, 98%);

  --white: hsl(0, 0%, 100%);

  --black-200: hsla(0, 0%, 0%);
}
