.notification {
  display: grid;
  grid-template-areas:
    "avatar details"
    "avatar created-at";
  justify-content: start;
  // align-items: end;
 
}

.content {
  color: var(--blue-300) !important;
}