$avatar-width: 43px;
$notification-gap: 1em;

.base-notification {
  padding: 1em;

  border-radius: 0.5em;
}

.details {
  grid-area: details;
}

.notification {
  column-gap: $notification-gap;

  @extend .base-notification;

  transition: all 0.15s ease-in;
}

.featured {
  background-color: var(--gray-200);
}

.avatar {
  grid-area: avatar;

  max-width: $avatar-width;
}

.created-at {
  grid-area: created-at;

  color: var(--blue-100);
}

.author {
  font-weight: var(--bold);

  color: var(--blue-400);
}

.content {
  font-weight: var(--bold);

  color: var(--blue-200);

  @extend .hide-on-empty !optional;
}

.middot {
 
  // color: var(--red-100);

  // transform: scale(3) translateY(-7.5%);
  // transform-origin: center;
  // display: inline-block;

  // border-radius: 100%;

  // padding-inline: 5px;

  // max-height: 100%;
}

.type {
}
