@use "../abstracts/" as *;

html {
  font-family: var(--mainFontFamily), "Calibri";
  scroll-behavior: smooth;
}

body {
  color: var(--blue-200);
  font-weight: var(--normal);

  background-color: var(--gray-200);


  padding: 4em;
}
