@use "../ReactionNotification/ReactionNotification.module.scss" as r;
@use "../../stylesheets/components/" as c;

.notification {
  @extend r, .notification !optional;
  grid-template-areas:
    "avatar details    content"
    "avatar created-at content";
  grid-auto-columns: auto auto 1fr;
  // align-items: end;
}

.details {
}

.created-at {
}

.content {
  justify-self: end;

  grid-area: content;

  max-width: c.$avatar-width;
  min-width: c.$avatar-width;

  display: inline-block;

  transition: all 0.1s ease-out;

  border: 2px solid transparent;
  border-radius: 8px;

  &:hover {
    border-color: var(--gray-100);
  }
}
